ul.trip-items {
  list-style-type: none;
  li {
    position:relative;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    height: 40px;
    background-color: #f5f5f5;
    padding-top: 5px;
    border-top: 1px solid #bbb;
    span.price-paid {
      padding-right: 10px;
    }
  }
}
